{
  "plugins": ["graphql-tag", "inline-import", "transform-inline-environment-variables"],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
